---
layout: blank
---

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand">Logo</a>
    </div>

    <nav class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="bubbletree-map.html">Formación Cívica</a></li>
        <li><a href="dailybread.html">¿Quiienes Somos?</a></li>
      </ul>
    </nav>

  </div>
</nav>

<script type="text/javascript">
  $(function() {
    $('ul.nav-tabs a').each(function(i,el) {
      if (window.location.href.indexOf($(el).attr('href')) > 0) {
    $(el).addClass('active');
      }
    });
  });
</script>

<div class="container">
  {{ content }}
</div>

<footer>
  <div class="inner">
    <div class="container">
      
      <div class="footer-links col-md-4 pull-left">
        <p>Ayúdamos a llegar a más personas</p>
        <ul>
          <li><a href="http://openspending.org">Donaciones</a></li>
          <li><a href="http://thedatahub.org">Voluntariado</a></li>
        </ul>
      </div>
      
      <div class="footer-links col-md-4 pull-left">
        <p>Desarrollado por:</p>
        <p>Con el apoyo de:</p>
      </div>

      <div class="footer-links col-md-4 pull-left">
        <p>Contáctanos</p>
        <ul>
          <li>Email</li>
          <li>12 calle 1-25 zona 10</li>
          <li>Edificio Géminis 10</li>
          <li>Torre Norte Odicina</li>
          <li>1413</li>
        </ul>
      </div>

    </div>
  </div>
</footer>

